<div class="horizontal-scroll">
  <table class="table table-hover">
    <thead>
    <tr class="black-muted-bg">
      <th class="table-id">ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>Support</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Altitude</th>
      <th>Elevation</th>
      <th>Current azimuth</th>
      <th>Current elevation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of stations" class="no-top-border">
      <td class="table-id">{{ item.id }}</td>
      <td>{{item.name}}</td>
      <td>
        <button class="{status-button btn btn-xs btn-primary">{{item.status}}</button>
      </td>
      <td>
        <div *ngFor="let s of item.support">
          <button class="{status-button btn btn-xs btn-success">{{s}}</button>
        </div>
      </td>
      <td>{{item.latitude}}</td>
      <td>{{item.longitude}}</td>
      <td>{{item.altitude}}</td>
      <td>{{item.elevation}}</td>
      <td>{{item.currentAzimuth}}</td>
      <td>{{item.currentEl}}</td>
    </tr>
    </tbody>
  </table>
</div>
