<div class="widgets">

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <ba-card title="Telemetry" baCardClass="with-scroll table-panel">
        <st-telemetry></st-telemetry>
      </ba-card>
    </div>
  </div>
</div>
