<div class="widgets">

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <ba-card title="Registered ground stations" baCardClass="with-scroll table-panel">
        <gs-table></gs-table>
      </ba-card>
    </div>
  </div>
</div>
