<div>
  <table class="table table-condensed">
    <tr>
      <td>Name</td>
      <td>{{detail.name}}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>
        <button class="status-button btn btn-xs btn-success">{{detail.status}}</button>
      </td>
    </tr>
    <tr>
      <td>Current azimuth</td>
      <td>{{detail.currentAzimuth}}</td>
    </tr>
    <tr>
      <td>Current elevation</td>
      <td>{{detail.currentEl}}</td>
    </tr>
  </table>
</div>
