<div class="widgets">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <ba-card title="Current Location" baCardClass="with-scroll table-panel">
        <ops-location></ops-location>
      </ba-card>
    </div>
  </div>
</div>
