<!--<p>{{kcom | async }}</p>-->

<!--<p>{{state.state | json}}</p>-->

<div>
  <table class="table table-condensed">

    <tr>
      <td>Active</td>
      <td>
        <button class="status-button btn btn-xs btn-success">{{ kcom.active }}</button>
      </td>
    </tr>
    <tr>
      <td>RSSI</td>
      <td>{{ kcom.rssi }}</td>
    </tr>
    <tr>
      <td>MCU reset</td>
      <td>{{kcom.mcuReset}}</td>
    </tr>
    <tr>
      <td>TRX reset</td>
      <td>{{kcom.trxReset}}</td>
    </tr>
    <tr>
      <td>BAT status</td>
      <td>{{kcom.batStatus}}</td>
    </tr>
    <tr>
      <td>DCDC status</td>
      <td>{{kcom.dcdcStatus}}</td>
    </tr>
    <tr>
      <td>EPS status</td>
      <td>{{kcom.epsStatus}}</td>
    </tr>
  </table>
</div>
<!--<p> Active {{ kcom.active}}</p>-->
