<div class="widgets">

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <ba-card title="Telemetry" baCardClass="with-scroll table-panel">
        <com-telemetry></com-telemetry>
      </ba-card>
    </div>
    <div class="col-lg-3 col-md-6">
      <ba-card title="KCom" baCardClass="with-scroll table-panel">
        <com-kcom></com-kcom>
      </ba-card>
    </div>
    <div class="col-lg-3 col-md-6">
      <ba-card title="Trx" baCardClass="with-scroll table-panel">
        <com-trx></com-trx>
      </ba-card>
    </div>
  </div>
</div>
