<div>
  <table class="table table-condensed">

    <tr>
      <td>Timestamp</td>
      <td>{{telemetry.timestamp}}</td>
    </tr>
    <tr>
      <td>Quarternion</td>
      <td>{{telemetry.quarternion}}</td>
    </tr>
    <tr>
      <td>Star count</td>
      <td>{{telemetry.starCount}}</td>
    </tr>
    <tr>
      <td>Positions</td>
      <td>
        <!--TODO something better than span-->
        <span *ngFor="let pos of telemetry.positions">{{pos}}</span>
      </td>
    </tr>
    <tr>
      <td>Hashes</td>
      <td>
        <!--TODO something better than span-->
        <span *ngFor="let hash of telemetry.hashes">{{hash}}</span>
      </td>

    </tr>
  </table>
</div>
