<div>
  <table class="table table-condensed">

    <tr>
      <td>Transmit mode</td>
      <td>
        <button class="status-button btn btn-xs btn-success">{{trx.transmitMode}}</button>
      </td>
    </tr>
    <tr>
      <td>Receive mode</td>
      <td>{{trx.receiveMode}}</td>
    </tr>
    <tr>
      <td>Internal PA</td>
      <td>{{trx.internalPA}}</td>
    </tr>
    <tr>
      <td>Internal_LNA_ON</td>
      <td>{{trx.internalLNAON}}</td>
    </tr>
  </table>
</div>
