
<div>
  <table class="table table-condensed">

    <tr>
      <td>3.3V rail current</td>
      <td id="railCurrentField">{{telemetry.railCurrent}}</td>
    </tr>
    <tr>
      <td>BAT rail current</td>
      <td>{{ telemetry.batCurrent }}</td>
    </tr>
    <tr>
      <td>Forward power</td>
      <td>{{telemetry.forwardPower}}</td>
    </tr>
    <tr>
      <td>Reverse power</td>
      <td>{{ telemetry.reversePower }}</td>
    </tr>
    <tr>
      <td>Received RSSI</td>
      <td>{{ telemetry.receivedRSSI }}</td>
    </tr>
    <tr>
      <td>PA temp</td>
      <td>{{telemetry.paTemp}}</td>
    </tr>
    <tr>
      <td>XO temp</td>
      <td>{{ telemetry.xoTemp }}</td>
    </tr>
    <tr>
      <td>Received packets</td>
      <td>{{telemetry.receivedPackets}}</td>
    </tr>
    <tr>
      <td>Dropped packets</td>
      <td>{{telemetry.droppedPackets}}</td>
    </tr>
    <tr>
      <td>Transmitted packets</td>
      <td>{{telemetry.transmittedPackets}}</td>
    </tr>
    <tr>
      <td>DC bias</td>
      <td>{{telemetry.dcBias}}</td>
    </tr>
    <tr>
      <td>Tuning voltage</td>
      <td>{{telemetry.tuningVoltage}}</td>
    </tr>
    <tr>
      <td>ICP status</td>
      <td>{{telemetry.icp}}</td>
    </tr>
    <tr>
      <td>BAT Switch status</td>
      <td>{{ telemetry.batSwitch }}</td>
    </tr>
    <tr>
      <td>DCDC Switch status</td>
      <td>{{telemetry.dcdcSwitch}}</td>
    </tr>
    <tr>
      <td>EPS Switch status</td>
      <td>{{ telemetry.epsSwitch }}</td>
    </tr>
    <tr>
      <td>Transmit mode</td>
      <td>{{telemetry.transmitMode}}</td>
    </tr>
    <tr>
      <td>Receive mode</td>
      <td>{{ telemetry.receiveMode }}</td>
    </tr>
    <tr>
      <td>Internal PA</td>
      <td>{{telemetry.internalPA}}</td>
    </tr>
    <tr>
      <td>Internal LNA ON</td>
      <td>{{ telemetry.internalLNAOn }}</td>
    </tr>


  </table>
</div>

