
<table class="table table-condensed">
  <tr>
    <td>Azimuth</td>
    <td>{{ location.azimuth }}</td>
  </tr>
  <tr>
    <td>Elevation</td>
    <td>{{ location.elevation }}</td>
  </tr>
  <tr>
    <td>Latitude</td>
    <td>{{ location.latitude }}</td>
  </tr>
  <tr>
    <td>Longitude</td>
    <td>{{ location.longitude }}</td>
  </tr>
  <tr>
    <td>Range</td>
    <td>{{ location.range }}</td>
  </tr>
  <tr>
    <td>Altitude</td>
    <td>{{ location.altitude }}</td>
  </tr>
  <tr>
    <td>Orbit</td>
    <td>{{ location.orbit }}</td>
  </tr>
  <tr>
    <td>Visibility</td>
    <td>{{ location.visibility }}</td>
  </tr>
  <tr>
    <td>TLE Epoch</td>
    <td>{{ location.tleepoch }}</td>
  </tr>
</table>
